body {
		margin: 50px;
		font-family: 'Ubuntu', sans-serif;
		background: rgb(222, 177, 16);
	}

	h1 {
		font-weight: 800;
		font-size: 100px;
		line-height: 120px;
		text-align: center;
		background: -webkit-linear-gradient(153deg, #913be2 0%, #2d8c9c 95%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: 50px;
		font-family: 'Fredoka One', cursive;
		}

		p {
			margin: 25px;
		}

		input {
			border-radius: 10px;
			height: 30px;
			border: 2px solid #0d5461;
			margin: 25px;
			text-align: center;
			padding: 10px;
		}

		img {
			border-radius: 25px;
		}